#parse("/vm/header.vm")

		<section class="aside_article">
			<aside  >
				<nav class="left_menu">
					<ul>	
						<li>
							<a href="#">个人资料</a>
							<ul>
								<li><a href="user/center">个人设置</a></li>
								<li><a href="user/center#password">修改密码</a></li>
								<li><a href="#">修改头像</a></li>
								<li class="li_selected"><a href="user/attentive">我的关注</a></li>
								<li><a href="#">我的收藏</a></li>
								<li><a href="#">我的分享</a></li>
								<li><a href="#">我的项目</a></li>
								<li><a href="#">我的评论</a></li>
								<li><a href="#">我的消息</a></li>
							</ul>
						</li>
						<li>
							<a href="#">文档资料</a>
							<ul>
								<li><a href="#">我要上传</a></li>
								<li><a href="#">已上传文档</a></li>
								<li><a href="#">已下载文档</a></li>
							</ul>
						</li>
						<li>
							<a href="#">后台管理</a>
							<ul>
								<li><a href="#">会员管理</a></li>
								<li><a href="#">文档资源管理</a></li>
								<li><a href="#">项目管理</a></li>
								<li><a href="#">邮件管理</a></li>
								<li><a href="#">评论管理</a></li>
								<li><a href="#">友情链接</a></li>
								<li><a href="#">帮助中心</a></li>
								<li><a href="#">成才管理</a></li>
							</ul>
						</li>
					</ul>
				
				</nav>
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_user">
						<span class="tab1 tab_selected" onclick="site.selectedTab('user',0)">个人设置</span>
						<span class="tab1 tab_unselected" onclick="site.selectedTab('user',1)">密码修改</span>
					</p>
					<section id="tab_detail_user">
					<section >
						<section class="aside_article">
							<aside>
								<ul>
									#foreach( $elem in ${data.followers})
									<li><a href="#">$ele.userName</a></li>
									#end
								</ul>
							</aside>
							<article>
							</article>
						</section>
					</section>					
						
						
					<section >
						<aside>
							<ul>
								#foreach( $elem in ${data.attentives})
								<li><a href="#">$ele.userName</a></li>
								#end
							</ul>
						</aside>
						<article>
						</article>
					</section>
					</section>
				</section>
			</article>
		</section>

#parse("/vm/footer.vm")	