<footer>
			<p>迪格学苑&nbsp;版权所有&nbsp;&nbsp;©2014-2016 DiGe&nbsp;&nbsp;
				京ICP备14054744号&nbsp;&nbsp; 京公网安备11010802016759号 &nbsp;&nbsp;</p>
			<nav>
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Contact Charles</a></li>
				</ul>
			</nav>
		</footer>
	</div>
</body>
</html>