<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link style="text/css" rel="stylesheet" href="../css/menu.css" />
<link style="text/css" rel="stylesheet" href="../css/main.css" />
<link style="text/css" rel="stylesheet" href="../css/user.css" />
<link style="text/css" rel="stylesheet" href="../css/page.css" />
<link href="../umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../js/site.js"></script>
<script type="text/javascript" src="../js/user.js"></script>
</head>

<body>
	<div id="wrapper">
		<header>
			<section id="title">
				<img src="../images/yxylogo.png" alt="logo" title="logo" />
				<h2>迪格学院</h2>
			</section>
	
			<nav class="menu bolder">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">学习</a></li>
					<li><a href="#">研究</a></li>
					<li><a href="#">成才</a></li>
				</ul>
			</nav>
			<form class="search" action="#" method="post">
				<label for="search_content">Search</label> 
				<input type="text" name="search_content" id="search_content" placeholder="Search" />
			</form>
			<section id="regist_login">
				<ul>
					<li><a href="#">${data.userName}</a></li>
				</ul>
				<!-- end login regist -->
			</section>
		</header>

		<nav class="navigation">
			<h2>当前位置:</h2>
			<ul>
				<li><a href="index.html">迪格学院</a></li>
				<li>个人信息</li>
			</ul>
		</nav>