#parse("/vm/header_out.vm")
 <script type="text/javascript" src="js/jQuery.imgPlayer.js"></script>
 	<script type="text/javascript" src="flex/flexpaper.js"></script>
   	<script type="text/javascript" src="flex/flexpaper_handlers.js"></script>
		<section id="flow_area">
			<article>
			<div class="imgPlayer1">
				<section>
				<img src="images/index/001.jpg" alt="#" title="#"/>
				</section>
				<section><img src="images/index/002.jpg" alt="#" title="#"/>
				</section>
				<section>
				
				<img src="images/index/003.jpg" alt="#" title="#"/>
				</section>
			</div>
			<script>
				$(".imgPlayer1").imgPlayer({
					width: 630,
				    showTitle:false,//不显示标题
  			  	    bindEvent:'mouseover',//更改触发图片切换的鼠标事件为mouseover,默认为click
  			  	    delay : 5000,
				});
				
				function openInfo(title , url){
				layer.open({
					    type:1,
					    title: "<strong>"+title+"</strong>",
					    shadeClose: true,
					    shade: 0.8,
					    area: ['750px', '90%'],
					    content: '<div style="height: 900px;"  id="flashcontent" > </div>'
					}); 
				
                                jq('#flashcontent').FlexPaperViewer(
						            { config : {
						                SWFFile : url,
						                Scale : 1,
						                ZoomTransition : 'easeOut',
						                ZoomTime : 0.5,
						                ZoomInterval : 0.2,
						                FitPageOnLoad : true,
						                FitWidthOnLoad : true,
						                FullScreenAsMaxWindow : false,
						                ProgressiveLoading : true,
						                MinZoomSize : 0.2,
						                MaxZoomSize : 5,
						                SearchMatchAll : false,
						                InitViewMode : 'Portrait',
						                RenderingOrder : 'flash',
						                StartAtPage : '',
										jsDirectory : 'tools/flex/',
						                ViewModeToolsVisible : true,
						                ZoomToolsVisible : true,
						                NavToolsVisible : true,
						                CursorToolsVisible : true,
						                SearchToolsVisible : true,
						                WMode : 'window',
						                localeChain: 'en_US'
						            }}
						    );
						    
			}
			
			function attend(title , url){
				layer.open({
				    type: 2,
				    title: "<strong>"+title+"</strong>",
				    shadeClose: true,
				    shade: 0.8,
				    area: ['800px', '90%'],
				    content: '/digxy/page/table.html' //iframe的url
				});
			}
			</script>
			</article>
			<aside>
				<h1>搜录摘要：</h1>
				<section>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
				</section>
			</aside>
		<!-- end flow_area -->
		</section>
 		#if( $data.pInfo.size() > 0)
 		#foreach($elem in ${data.pInfo})
		<section  class="clearfix">
			<section>
				<article>
					<section>
						<section  style="border:1px solid #CCCCCC;overflow: hidden;">
							<section  style="overflow: hidden;line-height:30px;margin-bottom:5px;box-shadow:2px 4px 8px #aaa;background-color: #eee;border:1px solid #fff;">
								<p class="layout_left" style="font-weight:700;font-size:1.2em;"><a href="pindex?id=$elem.id" style="color:#3399CC;">$elem.name</a></p>
								<p class="layout_right" style="padding-right:12px;">预计于45天后开启</p>
							</section>
							<section class="layout_left" style="width: 70%;">
							    <p class="layout_left" style="padding:0 5px 5px 5px;">	
							    <a href="pindex?id=$elem.id">
								<img alt="" src="upload/$elem.id/$date.format($elem.uploadDate)/images/${elem.planDoc}.png" style="width:150px;height: 200px;">
								</a>
								</p>
								<p style="text-indent: 5em;">
									<span>
										<span class="link" onclick="openInfo('企划书' , 'upload/$elem.id/$date.format($elem.uploadDate)/swf/${elem.planDoc}.swf' )">企划书</span>
										<span class="link" onclick="openInfo('人才资料' , 'upload/$elem.id/$date.format($elem.uploadDate)/swf/${elem.fosterDoc}.swf' )">人才资料</span>
										<span class="link" onclick="openInfo('培养计划' , 'upload/$elem.id/$date.format($elem.uploadDate)/swf/${elem.talentsDoc}.swf')">培养计划</span>
									</span>		
									<span style="padding:12px;">
										<a class="basic_btn" target="_blank" href="pa/apply?id=${elem.id}&name=${elem.name}"  >我要参与</a>
										<a class="basic_btn"  href="#">我要赞助</a>
									</span>
								</p>
								<p style="text-indent: 2em;line-height: 1.5em;padding:12px;">
									$elem.description
								</p>
							</section>							
							<section>
								<p style="padding:5px;"><span>$elem.sponsorName</span><span style="color:red;">(发起人)</span></p>
								
								<p class="layout_right" style="width:100px;">
									<img alt="" src="images/portrait/$strUtils.toStr($elem.portrait , 'default.jpg')" style="width:80px;height: 90px;">
								</p>	
								<section class="sponsor_info">	
									<p><span class="p_header">学历：</span><span></span></p>
									<p><span class="p_header">研究领域：</span><span>$elem.major</span></p>
									<p><span class="p_header">单位：</span><span>$elem.company</span></p>
									<p style="text-indent: 2em;">
										$elem.sponsorResume	
									</p>
								</section>
							</section>
						</section>
						<section>
						</section>
					</section>
				</article>
				<aside>
				</aside>
			</section>
		</section>
			#end
				#end
		
		<footer>
			#if( $data.links.size() > 0)
			<section class="foot_li clearfix">
				<label>友情链接：</label>
				<section >
					<ul>
						#foreach($elem in ${data.links})
						<li><a href="${elem.yqhref}" target="_blank">${elem.yqtitle}</a></li>
						#end	
					</ul>
				</section>
			</section>
			#end
			
			<section class="foot_li clearfix">
				<label>帮助中心：</label>
				<section>
					<ul>
						<li><span class="link"  onclick="helper.getInfo('resume')">关于迪格学苑</span></li>
						<li><span class="link"  onclick="helper.getInfo('contactInfo')">联系我们</span></li>
						<li><span class="link"  onclick="helper.getInfo('userLaw')">会员注册</span></li>
						<li><span class="link"  onclick="helper.getInfo('docLaw')">文档下载</span></li>
					</ul>
				</section>
			</section>
			
			<section class="foot_law">
				<p>迪格学苑&nbsp;版权所有&nbsp;&nbsp;©2014-2016 DiGe&nbsp;&nbsp;
					京ICP备14054744号&nbsp;&nbsp; 京公网安备11010802016759号 &nbsp;&nbsp;</p>
				<nav>
					<ul>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Contact Charles</a></li>
					</ul>
				</nav>
			</section>
		</footer>

	</div>
	
	<section>
		<div id="pop_divbg" style="display:none"></div>
		<div id="pop_diveditcontent" style="display:none">
			<div class="pop_divheader">
				<span class="pop_title">编辑</span>
				<span class="pop_close" onclick="site.hide()" >X</span>
			</div>
			<div class="pop_content" id="heplerInfo">
			</div>
		</div>
	</section>

	<script type="text/javascript" src="js/hy.user.common.js"></script>							
	<script type="text/javascript" src="js/helper.js"></script>							

		
</body>
</html>