#parse("/vm/header_out.vm")
 <script type="text/javascript" src="js/jQuery.imgPlayer.js"></script>
		<section id="flow_area">
			<article>
			<div class="imgPlayer1">
				<section>
				<img src="images/index/001.jpg" alt="#" title="#"/>
				</section>
				<section><img src="images/index/002.jpg" alt="#" title="#"/>
				</section>
				<section>
				
				<img src="images/index/003.jpg" alt="#" title="#"/>
				</section>
			</div>
			<script>
				$(".imgPlayer1").imgPlayer({
					width: 630,
				    showTitle:false,//不显示标题
  			  	    bindEvent:'mouseover',//更改触发图片切换的鼠标事件为mouseover,默认为click
  			  	    delay : 5000,
				});
			</script>
			</article>
			<aside>
				<h1>搜录摘要：</h1>
				<section>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
					<p><a href="#">历史：</a><em>1000</em>条</p>
				</section>
			</aside>
		<!-- end flow_area -->
		</section>

		<section id="resource_repository">
			#if( $data.hots.size() > 0)
			<section class="resource_area clearfix">
				<h1>热点资源</h1>
				#foreach($elem in ${data.hots})
	
				<article class="left">
					<div class="inner">
						<!-- 要旋转的文字-->
						<a href="result?id=${elem.id}">
						<img src="$strUtils.toStr(${elem.ressrc1},'images/doc/default.png')" alt="${elem.resname}" />
						</a>
						<p>${elem.resname}</p>
					</div>
				</article>
				#end
			</section>
			#end	
			
			#if( $data.studys.size() > 0)
			<section class="resource_area clearfix">
				<h1>学习</h1>
				#foreach($elem in ${data.studys})
							<article class="left">
					<div class="inner">
						<!-- 要旋转的文字-->
						<a href="result?id=${elem.id}">
						<img src="$strUtils.toStr(${elem.ressrc1},'images/doc/default.png')" alt="${elem.resname}" />
						</a>
						<p>${elem.resname}</p>
					</div>
				</article>
				#end
			</section>
			#end	
			
			#if( $data.researchs.size() > 0)
			<section class="resource_area clearfix">
				<h1>研究</h1>
				#foreach($elem in ${data.researchs})
							<article class="left">
					<div class="inner">
						<!-- 要旋转的文字-->
						<a href="presult?id=${elem.id}">
						<img src="$strUtils.toStr(${elem.ressrc},'../images/doc/default.png')" alt="${elem.resname}" />
						</a>
						<p>${elem.resname}</p>
					</div>
				</article>
				#end
			</section>
			#end	
			
			#if( $data.growers.size() > 0)
			<section class="resource_area clearfix">
				<h1>成长</h1>
				#foreach($elem in ${data.growers})
							<article class="left">
					<div class="inner">
						<!-- 要旋转的文字-->
						<a href="result?id=${elem.id}">
						<img src="$strUtils.toStr(${elem.ressrc},'../images/doc/default.png')" alt="${elem.resname}" />
						</a>
						<p>${elem.resname}</p>
					</div>
				</article>
				#end
			</section>
			#end	
		
		</section>
		<footer>
			#if( $data.links.size() > 0)
			<section class="foot_li clearfix">
				<label>友情链接：</label>
				<section >
					<ul>
						#foreach($elem in ${data.links})
						<li><a href="${elem.yqhref}" target="_blank">${elem.yqtitle}</a></li>
						#end	
					</ul>
				</section>
			</section>
			#end
			
			<section class="foot_li clearfix">
				<label>帮助中心：</label>
				<section>
					<ul>
						<li><a href="#" onclick="helper.getInfo('resume')">关于迪格学苑</a></li>
						<li><a href="#" onclick="helper.getInfo('contactInf')">联系我们</a></li>
						<li><a href="#" onclick="helper.getInfo('userLaw')">会员注册</a></li>
						<li><a href="#" onclick="helper.getInfo('docLaw')">文档下载</a></li>
					</ul>
				</section>
			</section>
			
			<section class="foot_law  ">
				<p>迪格学苑&nbsp;版权所有&nbsp;&nbsp;©2014-2016 DiGe&nbsp;&nbsp;
					京ICP备14054744号&nbsp;&nbsp; 京公网安备11010802016759号 &nbsp;&nbsp;</p>
				<nav>
					<ul>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Contact Charles</a></li>
					</ul>
				</nav>
			</section>
		</footer>

	</div>
	
	<section>
		<div id="pop_divbg" style="display:none"></div>
		<div id="pop_diveditcontent" style="display:none">
			<div class="pop_divheader">
				<span class="pop_title">编辑</span>
				<span class="pop_close" onclick="site.hide()" >X</span>
			</div>
			<div class="pop_content" id="heplerInfo">
			</div>
		</div>
	</section>
	<script type="text/javascript" src="js/hy.user.common.js"></script>							
	<script type="text/javascript" src="js/helper.js"></script>							
</body>
</html>