#parse("/vm/header.vm")
	  <nav class="navigation">
			<h2>当前位置:</h2>
			<ul>
				<li><a href="index.html">迪格学院</a></li>
				<li>我的关注</li>
			</ul>
		</nav>
		<section class="aside_article">
			<aside  >
				#set($curPage = "myattentive")
				#parse("/vm/user_nav.vm")			
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_user">
						<span class="tab1 tab_selected" onclick="site.selectedTab('user',0)">我的关注</span>
						<span class="tab1 tab_unselected" onclick="site.selectedTab('user',1)">关注我</span>
					</p>
					<section id="tab_detail_user">
					<div >
						<section class="aside_article">
							#if($data.followers.size() > 0)
								<section class="basic_article">
									#foreach( $elem in ${data.followers})
									<p>	
										<span>$elem.yhm</span>
										<a href="#" onclick="message.openDialog(${elem.id}, '${elem.yhm}' )">发消息</a>
										<a href="#" onclick="">取消关注</a>	
									</p>
									#end
								</section>
							#else
						   	<section class="basic_article">
								<p>暂无数据</p>
							<section>
						   #end	
						
						</section>
					</div>					
						
					<div class="hidden">	
					<section >
							#if($data.attentives.size() > 0)
							<section class="basic_article">
								#foreach( $elem in ${data.attentives})
									<p>	
										<span>$elem.yhm</span>
										<a href="#" onclick="message.openDialog(${elem.id}, '${elem.yhm}' )">发消息</a>
										<a href="#"  onclick="user.attentive(${data.res.uploaderid} , '${data.uploader.petName}' , 'attentiveId');" id="attentiveId">关注</a>	
									</p>
								#end
							<section>
						   #else
						   	<section class="basic_article">
								<p>暂无数据</p>
							<section>
						   #end	
					</section>
					</div>
					</section>
				</section>
			</article>
		</section>

<script type="text/javascript" src="../js/message.js"></script>
<script type="text/javascript" src="../js/user.js"></script>
#parse("/vm/footer.vm")	