#parse("/vm/header.vm")
<nav class="navigation">
			<h2>当前位置:</h2>
			<ul>
				<li><a href="../index">迪格学苑</a></li>
				<li>我的评论</li>
			</ul>
		</nav>
<section class="aside_article">
			<aside  >
				#set($curPage = "mycomment")
				#parse("/vm/user_nav.vm")			
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_res">
						<span class="tab1 tab_selected">我的评论</span>
					</p>
					<section id="tab_detail_res">
						<div class="result_header">
								 共计 <span style="color:blue;font-style:italic;font-size:0.8em;">${data.count}</span> 条评论
						</div>
						<div>
							#if( $data.list.size() > 0)
							#foreach($elem in ${data.list})
							<section class="user_comment">
								 <p class="say_content">${elem.content}</p>
								 <p class="user_title">
								 	<span class="title_dash"></span>
								 	<a href="../result?id=${elem.resId}">${elem.resName}</a> , &nbsp;&nbsp;评论于：$date.format(${elem.commentDate})
								 	 <span><a href="#" onclick="comment.del(${elem.id})">删除<a></span>
								 </p>
							</section>
							#end
							#else
								<section class="basic_article">
									<p>暂无评论</p>
								</section>
							#end
						</div>
						<div id="page" class="page"></div>
<script type="text/javascript">
paginate.init("page",{
	selectedNum: 1,
	count: ${data.count},
	searchKey : "",
	url : "/my?"
});
</script>
					</section>
						
				</section>
			</article>
		</section>
	
<script type="text/javascript" src="../js/comment.js"></script>
#parse("/vm/footer.vm")	