#parse("/vm/header.vm")

<section class="aside_article">
			<aside  >
				#set($curPage = "myfiles")
				#parse("/vm/user_nav.vm")		
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_res">
						<span class="tab1 tab_unselected" ><a href="passed">审核通过</a></span>
						<span class="tab1 tab_unselected" ><a href="pending">待审核</a></span>
						<span class="tab1 tab_unselected" ><a href="nopass">未通过</a></span>
						<span class="tab1 tab_selected"><a href="downloaded">被下载文档</a></span>
					</p>
					<section id="tab_detail_res">
						<div>
							#if( $data.size() > 0)
							#foreach($elem in ${data})
							<section class="basic_article">
								<p class="article_title"><a href="#">${elem.resname}</a><span>分类：${elem.restype}  格式：$strUtils.toStr($elem.resformat,"PDF") 上传时间：$date.format($elem.uploaddate) 下载次数：$elem.downloadtimes</span></p>
								<p class="article_context">${elem.resdescribe}</p>
							</section>		
							#end
							#else
								<section class="basic_article">
									<p>暂无数据</p>
								</section>
							#end
						</div>
						
					</section>
						
				</section>
			</article>
		</section>
	
#parse("/vm/footer.vm")	