#parse("/vm/header.vm")

<section class="aside_article">
			<aside  >
				#set($curPage = "myshared")
				#parse("/vm/user_nav.vm")			
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_res">
						<span class="tab1 tab_selected">我的分享</span>
					</p>
					<section id="tab_detail_res">
						<div>
							<section class="basic_article">
								<p><span class="gd_u_title">资源名称</span><span class="gd_u_type">分类</span><span class="gd_u_time">分享时间</span></p>	
							</section>
							#if( $data.size() > 0)
							#foreach($elem in ${data})
							<section class="mouse_hover basic_article">
								<p class="article_title">
									<span class="gd_u_title"><a href="#">${elem.resname}</a></span>
									<span class="gd_u_type">${elem.restype}</span> 
									<span class="gd_u_time">$date.format($elem.date) </span>
								</p>
							</section>		
							#end
							#else
								<section class="basic_article">
									<p>暂无数据</p>
								</section>
							#end
						</div>
						
					</section>
						
				</section>
			</article>
		</section>
	
#parse("/vm/footer.vm")	