#parse("/vm/header_out.vm")
	<script type="text/javascript" src="js/jQuery.imgPlayer.js"></script>
 	<script type="text/javascript" src="flex/flexpaper.js"></script>
   	<script type="text/javascript" src="flex/flexpaper_handlers.js"></script>
   	   	<script type="text/javascript" src="js/comment.js"></script>
		<section id="flow_area">
			<article>
			<div class="imgPlayer1">
				<section>
				<img src="images/index/test2.1.png" alt="#" title="#"/>
				</section>
				<section><img src="images/index/underwater-1.jpg" alt="#" title="#"/>
				</section>
				<section>
				
				<img src="images/index/underwater-2.png" alt="#" title="#"/>
				</section>
			</div>
			<script>
				$(".imgPlayer1").imgPlayer({
					width: 630,
				    showTitle:false,//不显示标题
  			  	    bindEvent:'mouseover',//更改触发图片切换的鼠标事件为mouseover,默认为click
  			  	    delay : 5000,
				});
				
				function openInfo(title , url){
				layer.open({
					    type:1,
					    title: "<strong>"+title+"</strong>",
					    shadeClose: true,
					    shade: 0.8,
					    area: ['750px', '90%'],
					    content: '<div style="height: 900px;"  id="flashcontent" > </div>'
					}); 
				
                                jq('#flashcontent').FlexPaperViewer(
						            { config : {
						                SWFFile : url,
						                Scale : 1,
						                ZoomTransition : 'easeOut',
						                ZoomTime : 0.5,
						                ZoomInterval : 0.2,
						                FitPageOnLoad : true,
						                FitWidthOnLoad : true,
						                FullScreenAsMaxWindow : false,
						                ProgressiveLoading : true,
						                MinZoomSize : 0.2,
						                MaxZoomSize : 5,
						                SearchMatchAll : false,
						                InitViewMode : 'Portrait',
						                RenderingOrder : 'flash',
						                StartAtPage : '',
										jsDirectory : 'tools/flex/',
						                ViewModeToolsVisible : true,
						                ZoomToolsVisible : true,
						                NavToolsVisible : true,
						                CursorToolsVisible : true,
						                SearchToolsVisible : true,
						                WMode : 'window',
						                localeChain: 'en_US'
						            }}
						    );
						    
			}
			
			function attend(title , url){
				layer.open({
				    type: 2,
				    title: "<strong>"+title+"</strong>",
				    shadeClose: true,
				    shade: 0.8,
				    area: ['800px', '90%'],
				    content: url //iframe的url
				});
			}
			</script>
			</article>
		<aside style="height:210px;">
				<div style="height:160px;">
				<h1>公告：</h1>
				<section>
					<p>$strUtils.toStr(${data.notifyMain.content} , "")</p>
					<!--
					<p><sub class="layout_right">--- $strUtils.toStr(${data.notifyMain.addUserName}, "")</sub></p>	
					-->
				</section>
				</div>
				</br>
				
				
			</aside>
		<!-- end flow_area -->
		</section>
			
		<section>
			<section>	
				<section  style="border:1px solid #CCCCCC;overflow: hidden;">
					<section  style="overflow: hidden;line-height:40px; border-bottom:1px solid #ccc;margin-bottom: 5px; ">
						<h1 style="float:left;padding-left:12px;font-size: 25px; color: #2a2a2a; margin-bottom: 2px; font-family: 'Microsoft Yahei';">$data.pInfo.name</h1>
						
						
						<p style="float:right;padding-right:12px;text-indent: 3em;font-size:.7em;color:red;letter-spacing:.13em;display:none;">预计于45天后开启</p>
					</section>
					<section class="layout_left" style="width: 70%;">
					    <p class="layout_left" style="padding:0 5px 5px 5px;">	
						<img alt="" src="images/index/chuzhuang.png" style="width:150px;height: 200px;">
						</p>
						<p style="text-indent: 5em;display:none;">
							<span>
										<a href="#" onclick="openInfo('企划书' , 'upload/${data.pInfo.id}/$date.format(${data.pInfo.uploadDate})/swf/${data.pInfo.planDoc}.swf' )">企划书</a>
										<a href="#" onclick="openInfo('人才资料' , 'upload/${data.pInfo.id}/$date.format(${data.pInfo.uploadDate})/swf/${data.pInfo.fosterDoc}.swf' )">人才资料</a>
										<a href="#" onclick="openInfo('培养计划' , 'upload/${data.pInfo.id}/$date.format(${data.pInfo.uploadDate})/swf/${data.pInfo.talentsDoc}.swf')">培养计划</a>
									</span>		
									<span style="padding:12px;">
										<a class="basic_btn"  href="pa/apply?id=${data.pInfo.id}&name=${data.pInfo.name}" >我要参与</a>
										<!-- <a class="basic_btn"  href="#">我要赞助</a> -->
									</span>
						</p>
						<p style="text-indent: 2em;line-height: 1.5em;padding:12px;">
							$data.pInfo.description
						</p>
					</section>
					
				    <!-- The sponsor information -->
					<section class="layout_right" style="width:260px;padding: 12px;">
							<p style="  border:1px solid #ccc;background: #fafafa;line-height: 58px; text-align: center;">曾霞光（实验室创始人）</p>
						<section>
						<p class="layout_right" style="width:100px;">
							<img alt="" src="images/portrait/$strUtils.toStr("10.jpg" , 'default.jpg')" style="width:80px;height: 90px;padding:5px;">
						</p>	
						<section class="sponsor_info">	
							<p><span class="p_header">学历：</span><span>博士</span></p>
									<p><span class="p_header">研究领域：</span><span>海洋工程，固体力学，断裂力学，力学问题数值模拟</span></p>
									<p><span class="p_header">职责：</span><span>负责实验室整体规划和运营，分管水下机器人研发过程中的力学问题，具体包括力学模型抽象，有限元模拟等</span></p>					
									<p><span class="p_header">单位：</span><span>中国科学院力学研究所</span></p>
									<p><span class="p_header">职务：</span><span>博士后</span></p>
									<p><span class="p_header">项目经验：</span></p>
									<p >
										（1）油气井温度场有限元计算（FEPG二次开发）；<br/>
										（2）开发全新示功图识别算法；<br/>
										（3）开发油气水井管柱受力分析及优化软件算法；<br/>
										（4）负责深水海底管道铺设技术（ 863 项目）中力学分析软件的核心算法设计和编程工作；<br/> 
										（5）海洋管道整体屈曲有限元分析；<br/>
										（6）完成国家自然科学基金项目深水双层海底管道的热屈曲特性及控制；<br/>
										（7）进行深海工程结构的极端环境作用与全寿命服役安全项目中（973）的海底管道整体屈曲问题研究；<br/>
										（8）研究含多条随机分布裂缝页岩的本构模型；<br/>
										（9）研究含天然裂缝页岩水力压裂过程中裂缝的扩展机制和规律。<br/>
									</p>
							
						</section>
						</section>
						<section style="position:fixed; top:80%;left:82%;">
							<p><a  class="basic_btn"  href="pa/apply?id=${data.pInfo.id}&name=${data.pInfo.name}" >我要参与</a></p>
							<p><a class="basic_btn"  href="pr/new?id=${data.pInfo.id}&name=${data.pInfo.name}">分享资料上传</a></p>
						</section>
					
				</section>
				
				<section class="clearfix"  >
					<article style="width:660px;border:1px solid #ccc;float:left;background:#FFF;">
						<section>
							<ul class="tab_ul" id="tab_header_project">
								<li class="selected"  onclick="hyCom.selectedTab('project',0)">主页</li>
								<li   onclick="hyCom.selectedTab('project',1)">故事</li>
								<li class="tab1 unselected" onclick="hyCom.selectedTab('project',2)">资料</li>
								<li class="tab1 unselected" onclick="hyCom.selectedTab('project',3)">讨论</li>
								<li class="tab1 unselected" onclick="hyCom.selectedTab('project',4)">参与者</li>
							</ul>
							
						<section id="tab_detail_project" style="min-height:600px;">
							<div>
								<section class="article_p">
								<h3  style="text-align:center;">结构设计及优化</h3>
								<p style="text-indent: 2em;">
									水下机器人模型样机主体仓结构设计：于芳芳 
								</p>
								<div style="text-align: center;"> <img src="images/index/mainPage1.png"/></div> 
															
								</section>
										<section class="article_p">
								<h3  style="text-align:center;">关键部件强度分析</h3>
								<p style="text-indent: 2em;">
									水下机器人盖板过线部位应力分析：曾霞光
								</p>
								<div style="text-align: center;"> <img src="images/index/mainPage2.png"/></div> 
								<p style="text-indent: 2em;">									
									水下机器人主体仓密封圈应力分析：曾霞光
								</p>
								<div style="text-align: center;"> <img src="images/index/SetUp_00_00_00__00_00_14.gif"/></div> 
								</section>
								
								<section class="article_p">
								<h3  style="text-align:center;">控制硬件及编程</h3>
								<p style="text-indent: 2em;">
									基本电子硬件选配：周鑫
								</p>
								<div style="text-align: center;"> <img src="images/index/mainPage3.png"/></div> 
								<div style="text-align: center;"> <img src="images/index/mainPage4.png"/></div>
								<div style="text-align: center;"> <img src="images/index/mainPage5.png"/></div> 
								
								<p style="text-indent: 2em;">
									水下机器人控制编程：周鑫
								</p>
								<div style="text-align: center;"> <img src="images/index/mainPage6.jpg"/></div> 	
								<div style="text-align: center;"> <img src="images/index/mainPage7.png"/></div> 										
								</section>
								
							</div>				
							<div class="hidden" >
								<div class="article_p">
								<h3  style="text-align:center;">水下机器人成长记</h3>
								<p  style="text-align:center;">
									<sub>曾霞光，2015年9月22日星期二</sub>
								</p>
								<p style="text-indent: 2em;">
									 公元2014年10月的北京秋高气爽，非常适合进行各种有趣的户外活动。在奥林匹克森林公园附近的某个小区里5个快乐的小伙伴燃起了探索水下世界的小火苗，然后开始了一段奇妙的征程。
								</p>
									<div style="text-align: center;"> <img src="images/index/first.png"/></div> 
									
								
								<p style="text-indent: 2em;">
									 工欲善其事必先利其器，探索水下世界必然需要水下机器人，小伙伴们兴冲冲的上网搜寻，百度之，谷歌之，淘宝之，无奈囊中羞涩，最后一合计，于是决定响应毛主席的号召：自己动手！说干就干，小伙伴们风风火火的操练了起来。感谢伟大的互联网和分享者，通过参考网上资料，小伙伴们购买了必要的组件进行安装、调试。
									 
								</p>
								<div>
									 <img src="images/index/shiyan.png"/> 
								</div>
								
    
								<p style="text-indent: 2em;">
									不断牺牲一个个周末，不断遇到问题，不断解决问题，在6个月后的某一天下午，小伙伴们终于打造出了属于他们的第一个水下机器人（ROV）：
								</p>
								<div style="text-align: center;">
 									 <img src="images/index/chuzhuang.png"/>  
								</div>
    
								<p style="text-indent: 2em;"> 
									终于，小伙伴们开始了水下世界的探索！先来个小小的测试，这个测试小到万一不行还可以挽起袖子把辛辛苦苦打造的小小ROV捞起来，哈哈！
								</p>
								<h4>1、奥森公园水池初试（公元2014年4月12日下午）</h4>
								<p>
								 	水密性测试，软件调控测试等都一一通过，小小的ROV取得了小小的成功！
 									<img src="images/index/test1.png"/> 									 
								</p>
								
								<h4>2、黄花水长城水库探险（公元2014年5月3日）</h4>
								<p style="text-indent: 2em;">
	小小的ROV一路向下到了水下10余米深，水密性、承压力等一一通过验证。同时，小伙伴们看到了水中摇曳的水草，嬉戏的小鱼，柔软的淤泥和古老的水下城墙，也看到了这款机器人的局限和不足，取得了不少宝贵的野外水下探索经验！
 									<img src="images/index/test2.png"/> 									 
 									<img src="images/index/test2.1.png"/> 									 
 									<img src="images/index/test2.2.png"/> 									 
								</p>
								
								<h4>3、北京古井水下勘察（筹划中，正在开启）</h4>
								<div style="text-align: center;">
 									<img src="images/index/test3.png"/> 									 
								</div>		
								<p style="text-indent: 2em;">
									我们几个小伙伴把我们的故事点滴记录下来，在此与你分享，也在此等待新的小伙伴加入，我们真诚的希望在未来的水下世界探索中有你的参与和支持！
									 参与和支持我们请联系digxy@163.com或QQ。
								</p>
									<p><a target="_blank" href="page/new_story.html">更多故事</a></p>
							</div>	
							</div>
								
							<div class="hidden">
								<!-- project resource list --> 
								#if( $data.resList.size() > 0)
 								#foreach($elem in ${data.resList})
								<section class="project_detail_section">
									<p>
										<span class="link" onclick="openInfo('$elem.name' , 'upload/${elem.docFloder}/swf/${elem.docName}.swf')">$elem.name</span>
										<span class="layout_right">
											<img src="images/portrait/$strUtils.toStr($elem.portrait , 'default.jpg')"  style="width:40px;height: 40px; padding:3px;" />
											<span>
												分享于 $date.format($elem.uploadDate) 
											</span>
										</span>
									</p>	
								</section>
								#end
								#else
									<section class="project_detail_section">
									<p>暂无资料分享</p>
									</section>
								#end
							
							</div>
							<div class="hidden">
							 <!-- comment list wrapper -->
								<section  class="project_detail_section">
									<p style="padding:5px;">
										<textarea rows="8" cols="80" id="content" placeholder="写点自己的意见~"  ></textarea>
										<sub style="position: relative;left:530px;top:-22px;">100个字</sub>
									</p>
									<p class="layout_right"><span class="basic_btn link" onclick="comment.add($data.pInfo.id)"  >我发个言</span></p>
								</section>
								
								<section class="project_detail_section hidden" id="myComment">
									<p  class="layout_left">
										<span style="color:red;">
											我刚刚说:	
										</span>
									</p>	
									<p> <span></span> </p>
									<p id="myCommentInfo">
										
									</p>
								</section>
								
								#if( $data.comList.size() > 0)
 								#foreach($elem in ${data.comList})
								<section class="project_detail_section">
									<p  class="layout_left">
										<span>
											<img src="images/portrait/$strUtils.toStr($elem.portraitSrc , 'default.jpg')"  style="width:40px;height: 40px;" />
										</span>
									</p>	
									<p> <span>$elem.commenter $date.format($elem.commentDate) </span> </p>
									<p>
										$elem.content
									</p>
								</section>
								#end
								#else
									<section class="project_detail_section">
									<p>暂无评论</p>
									</section>
								#end
							</div>
							
							<div class="hidden">
								<!-- the attend and the helper list wrapper -->
								<section class="project_detail_section">
									<section>
										<p style="margin-bottom:12px;font-size:1.2em;font-weight: 700;">参与者列表</p>
									</section>
									#if( $data.attList.size() > 0)
 									#foreach($elem in ${data.attList})
										<p class="layout_left"><img src="images/portrait/$strUtils.toStr($elem.portraitSrc , 'default.jpg')"  style="width:40px;height: 40px;" /><br/><span>$elem.attenderPetName</span><p>
									#end 
									#else
									<p>正在报名中。。。</p>
									#end
								</section>
								
								<section class="project_detail_section hidden">
									<section>
										<p style="margin-bottom:12px;font-size:1.2em;font-weight: 700;">赞助列表</p>
									</section>
									#if( $data.patronageList.size() > 0)
 									#foreach($elem in ${data.patronageList})
									<p class="layout_left">
										<img src="images/portrait/$strUtils.toStr($elem.portraitSrc , 'default.jpg')"  style="width:40px;height: 40px;" /><br/>
										<span>${elem.attenderPetName}(<span style="color:red;">100</span>)</span><br/>
									<p>
									#end
									#else
										<p> <a class="basic_btn"  href="#">我要做赞助第一人</a> </p>
									#end
								</section>
							</div>
						</section>
						</section>
					</article>
					<aside style="width:30%;float:right;">
						<section  style="padding:12px;margin-bottom: 15px;">
							<p style="  border:1px solid #ccc;background: #fafafa;line-height: 58px; text-align: center;">程光明（骨干成员）</p>
							<section>
									<p class="layout_right" style="width:100px;">
							<img alt="" src="images/portrait/$strUtils.toStr("guangming.png" , 'default.jpg')" style="width:80px;height: 90px;padding:5px;">
						</p>	
						<section class="sponsor_info">	
							<p><span class="p_header">学历：</span><span>博士</span></p>
							<p><span class="p_header">研究领域：</span><span>机械工程，石油机械和海洋石油设施设计研发，桩基-土作用有限元分析</span></p>
							<p><span class="p_header">职责：</span><span>负责水下机器人结构设计和制造工艺</span></p>
							<p><span class="p_header">单位：</span><span>中国石化石油工程技术研究院</span></p>
							<p><span class="p_header">职务：</span><span>博士后</span></p>
							<p><span class="p_header">项目经验：</span></p>
						
							<p >
								（1）井下过电缆封隔器和安全阀设计(企业立项) <br/>
								（2）水下管汇成橇设计方案第三方审核及对比方案设计(国家科技重大专项)<br/>
								（3）深水水下应急维修方法研究与半物理仿真系统研制(国家科技重大专项)<br/>
								（4）水下采油树关键技术研究及成套设备研制(863项目)<br/>
								（5）吸力锚设计研究(中海油服项目)<br/>
							</p>
					
						</section>
					
						</section>
						</section>
						
						<section  style="padding:12px;margin-bottom: 15px;">
							<p style="  border:1px solid #ccc;background: #fafafa;line-height: 58px; text-align: center;">周鑫（骨干成员）</p>
							<section>
									<p class="layout_right" style="width:100px;">
							<img alt="" src="images/portrait/$strUtils.toStr("" , 'default.jpg')" style="width:80px;height: 90px;padding:5px;">
						</p>	
							<section class="sponsor_info">	
								<p><span class="p_header">学历：</span><span>博士</span></p>
								<p><span class="p_header">研究领域：</span><span>流体与动力机械工作理论，机器人与自动化技术</span></p>
								<p><span class="p_header">职责：</span><span>水下机器人控制硬件设计和编程</span></p>
								<p><span class="p_header">单位：</span><span>中国科学院工程热物理研究所</span></p>
								<p><span class="p_header">职务：</span><span>博士后</span></p>
								<p><span class="p_header">项目经验：</span></p>
							
								<p >
									（1）足球机器人平衡控制研究 <br/>
									（2）便携式水下机器人控制技术<br/>
									（3）高性能泵叶轮数值研发关键技术基础研究；<br/>
									（4）带预旋调节的高效节能离心泵关键技术研究；<br/>
									（5）西部管道530/440型输油泵换大叶轮项目；<br/>
									（6）大型LNG储罐内潜液泵关键技术校核优化和安全可靠性研究项目<br/>
								</p>
						
							</section>
							</section>
						</section>
						
						<section  style="border:1px solid #ccc;background:#FFF;padding-bottom:12px;text-align: center;" class="hidden">

							<p style=" border:1px solid #ccc; background: #fafafa;  line-height: 58px; text-align: center;">个人赞助</p>
							<section>
								<p>项目将开始了，请参与者及时做好准备。</p>
							</section>	
							<p>
							<a class="basic_btn" href="#">支持一下</a>
							</p>
						</section>	
						
					</aside>
				</section>
			</section>
			<section>
			</section>
		</section>	
		

#parse("/vm/footer.vm")
