#parse("/vm/header.vm")
	<nav class="navigation">
		<h2>当前位置:</h2>
		<ul>
			<li><a href="../index">迪格学苑</a></li>
			<li><a href="../pindex?id=${data.projectId}">$data.projectName</a></li>
			<li>资料分享</li>
		</ul>
	</nav>
	<link style="text/css" rel="stylesheet" href="../css/jquery.fileupload.css" />
	
	<script type="text/javascript" src="../js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../js/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="../js/jquery.fileupload.js"></script>
	
	<section id="uploadFileSection">
			<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
				<section style="text-align:center;">
				<!--	<section class="hidden">
						<input type="file" name="myFile1" id="myFile1" value="上传我的文档"  onchange="hy.res.upload()"/>
					</section>
					<section>
						<p class="white_button">
						<input type="button" value="上传我的文档" onclick="site.click('myFile')">
						</p>
					</section> -->
					<section>
					    <span class="btn btn-success fileinput-button">
					        <i class="glyphicon glyphicon-plus"></i>
					        <span>上传我的文档</span>
					        <!-- The file input field used as target for the file upload widget -->
					        <input id="fileupload" type="file" name="myFile" multiple>
					    </span>
					    
					    <!-- The global progress bar -->
					    <div id="progress" class="progress">
					        <div class="progress-bar progress-bar-success"></div>
					    </div>
					    <div id="fileMsg">
					    </div>
					</section>
				</section>


				<section>
					<p>1.您可以上传日常积累和撰写的文档资料，如模板、总结，支持多种文档类型：</p>
					<p>默认允许上传doc，xls，ppt，docx，xlsx，pptx，pdf 文件.</p>
					<p>2.上传涉及侵权内容的文档将会被移除。如何判断文档是否侵权？查看网站协议和用户规则</p>
					<p>3.上传有问题需要帮助？查看上传帮助和意见反馈</p>
					<p>4.为营造绿色网络环境，严禁上传含有淫秽色情及低俗信息等文档，让我们一起携手共同打造健康文档分享环境</p>
				</section>
			</form>
		
		</section>

		<section id="fileDetailSection" class="article_aside hidden">
			<article class="singleton_input">
				<form action="#">
					<section>
						<label for="docName">文档：</label>
						<input class="un-editable" id="docName" name="docName" disabled="disabled"/> 
					</section>
					<section>
						<label for="name">标题：</label>
						 <input type="text" id="name" name="name" placeholder="资源名称"> 
						 <p id="name_msg"></p>
					</section>

					<section>
						<label for="resDesc">描述：</label>
						<textarea rows="8" cols="47" id="resDesc" name="resDesc" placeholder="资源介绍"></textarea>
						<p id="resDesc_msg"></p>
					</section>

					<section>
						<label for="projectName">项目：</label>
						<input class="un-editable" id="projectName" name="projectName" disabled="disabled" value="${data.projectName}"/> 
						<input class="hidden" id="projectId" name="projectId" value="${data.projectId}"/>
						<p id="projectId_msg"></p>
					</section>
					
					<section>
						 <label for="label">文档标签：</label>
						 <input type="text" id="label" name="label" placeholder="标签,分号隔开"> 
						 <p id="label_msg"></p>
					</section>
					
					<section>
						<p class="white_button" style="text-align: right;">
							<input id="uploadSave" type="button" value="保存信息" onclick="hy.res.add()" />
							<input  type="button" value="取消" onclick="hy.res.toUpload()" />
							<input id="uploadSaveTwo" type="button" value="继续添加" onclick="hy.res.toUpload(true)" />
						</p>
						<p id="res_add_msg"></p>
					</section>

				</form>
			</article>
			<aside>
				<section>
				</section>
			</aside>
		</section>
		

	<script type="text/javascript" src="../js/hy.res.js"></script>	
#parse("/vm/footer.vm")	