#parse("/vm/header.vm")

		<section class="aside_article">
			<aside  >
				<nav class="left_menu">
					<ul>	
						<li>
							<a href="#">个人资料</a>
							<ul>
								<li class="li_selected" ><a href="user/center">个人设置</a></li>
								<li><a href="user/center#password">修改密码</a></li>
								<li><a href="#">修改头像</a></li>
								<li><a href="#">我的关注</a></li>
								<li><a href="#">我的收藏</a></li>
								<li><a href="#">我的分享</a></li>
								<li><a href="#">我的项目</a></li>
								<li><a href="#">我的评论</a></li>
								<li><a href="#">我的消息</a></li>
							</ul>
						</li>
						<li>
							<a href="#">文档资料</a>
							<ul>
								<li><a href="#">我要上传</a></li>
								<li><a href="#">已上传文档</a></li>
								<li><a href="#">已下载文档</a></li>
							</ul>
						</li>
						<li>
							<a href="#">后台管理</a>
							<ul>
								<li><a href="#">会员管理</a></li>
								<li><a href="#">文档资源管理</a></li>
								<li><a href="#">项目管理</a></li>
								<li><a href="#">邮件管理</a></li>
								<li><a href="#">评论管理</a></li>
								<li><a href="#">友情链接</a></li>
								<li><a href="#">帮助中心</a></li>
								<li><a href="#">成才管理</a></li>
							</ul>
						</li>
					</ul>
				
				</nav>
			</aside>
			<article>
				<section>
					<p class="clearfix" id="tab_header_user">
						<span class="tab1 tab_selected" onclick="site.selectedTab('user',0)">个人设置</span>
						<span class="tab1 tab_unselected" onclick="site.selectedTab('user',1)">密码修改</span>
					</p>
					<section id="tab_detail_user">
					<section >
						<section class="layout_right">
						<img  class="portrait" src="/images/portrait/$strUtils.toStr($data.imgSrc , 'default.jpg')" />	
						<p>${data.userName}</p>
						</section>
						<form action="#">
						<section>
							<section>
								<input class="hidden" id="id" value="$data.id"/>
								<label for="petName">昵称：</label>
								<input class="un-editable" type="text" value="$strUtils.toStr($data.petName)" id="petName"  disabled="disabled"/>
							</section>
							<section>
								<label for="email">邮件：</label>
								<input class="un-editable" type="text" value="$strUtils.toStr($data.email)" id="email"  disabled="disabled"/>
							</section>
							<section>
								<label for="imessager">QQ/Wechat：</label>
								<input class="un-editable" type="text" value="$strUtils.toStr($data.imessager)" id="imessager"  disabled="disabled"/>
							</section>
							<section>
								<label for="phone">联系方式：</label>
								<input class="un-editable" type="text" value="$strUtils.toStr($data.phone)" id="phone"  disabled="disabled"/>
							</section>
							<section>
								<label for="regtime">注册时间：</label>
								<input class="un-editable" type="text" value="$strUtils.toStr($data.regtime)" id="regtime"  disabled="disabled"/>
							</section>
							<section>
								<label for="profile">个人介绍：</label>
								<textarea class="un-editable" rows="10" cols="20" id="profile"  disabled="disabled">$strUtils.toStr($data.profile)</textarea>
							</section>
							<section>
								<p id="edit_p"><input type="button" value="编辑" onclick="user.toUnEditBaseInfo(false)"/></p>
								<p id="update_p" class="hidden">
								   <input type="button" value="更新" onclick="user.updateBaseInfo()"/> 
								   <input type="button" value="取消" onclick="user.toUnEditBaseInfo(true)"/> 
								</p>
							   <p id="update_p_message" />
							</section>
						</section>	
						</form>
					</section>					
						
						
					<section >
						<form>
							<section>
								<label for="oldPassword">密码：</label>
								<input type="text" id="oldPassword" />
								<p id="oldPassword_msg"></p>
							</section>
							<section>
								<label for="password">修改密码：</label>
								<input type="text" 	id="password"  />
								<p id="password_msg"></p>
							</section>
							
							<section>
								<label for="password2">修改密码确认：</label>
								<input type="text" id="password2"/>
								<p id="password2_msg"></p>
							</section>
							
							<section>
								<input type="button" value="确认" onclick="user.updatePassword()">
								<p id="pwd_update_msg"></p>
							</section>
						</form>
					</section>
					</section>
				</section>
			</article>
		</section>

#parse("/vm/footer.vm")	