<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayu.dao.mapper.ProjectMapper">
	<resultMap id="NewBaseResultMap" type="com.huayu.bo.Project">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="sponsor" property="sponsor" jdbcType="BIGINT" />
		<result column="upload_date" property="uploadDate"  />
		<result column="checker" property="checker" jdbcType="BIGINT" />
		<result column="check_date" property="checkDate"  />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="check_msg" property="checkMsg" jdbcType="VARCHAR" />
		<result column="begin_datetime" property="beginDatetime"  />
		<result column="end_datetime" property="endDatetime"  />
		<result column="attender_limit" property="attenderLimit" jdbcType="INTEGER" />
		<result column="plan_doc" property="planDoc" jdbcType="VARCHAR" />
		<result column="foster_doc" property="fosterDoc" jdbcType="VARCHAR" />
		<result column="talents_doc" property="talentsDoc" jdbcType="VARCHAR" />
		<result column="process_status" property="processStatus" jdbcType="TINYINT" />
		<result column="attender_plan_count" property="attenderPlanCount" jdbcType="INTEGER" />
		
		<result column="sponsorName" property="sponsorName" jdbcType="VARCHAR"/>
		
		<result column="major" property="major" jdbcType="VARCHAR"/>
		<result column="company" property="company" jdbcType="VARCHAR"/>
		<result column="resume" property="sponsorResume" jdbcType="VARCHAR"/>
		<result column="portrait" property="portrait" jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="basicCondition">
		 <where>
	       	<if test="sponsor != null">
			 	and sponsor = #{sponsor} 
			</if>
			
	       	<if test="checker != null">
			 	and checker = #{checker} 
			</if>
			<if test="includingStatus != null">
				and status in 
				<foreach collection="includingStatus" close=")" item="elem" separator="," open="(">
					#{elem}
				</foreach>
			</if>
			<if test="includingIds != null">
				and p.id in 
				<foreach collection="includingIds" open="(" item="elem" separator="," close=")">
					#{elem}
				</foreach>
			</if>
		 </where> 
		 
		<if test="orderBy != null">
	    	order by #{orderBy}
	    </if>
		<if test="beginNum != null and offset != null">
		    limit #{beginNum} , #{offset}
	    </if>
	</sql>
	
	<select id="selectList" resultMap="NewBaseResultMap">
		select 
	 		p.id, p.name, description, sponsor, upload_date, checker, check_date, status, check_msg, begin_datetime, end_datetime, attender_limit, plan_doc, foster_doc, talents_doc, process_status
		    , u.yhm sponsorName 
		    
		 from tb_project  p left join tb_user u 
		 on p.sponsor = u.id
		<include refid="basicCondition"></include>	
	</select>
	
	<select id="selectDetailList" resultMap="NewBaseResultMap">
		select 
	 		p.id, p.name, description, sponsor, upload_date, checker, check_date, status, check_msg, begin_datetime, end_datetime, attender_limit, plan_doc, foster_doc, talents_doc, process_status
		    , u.yhm sponsorName , u.ZhuanYe major , u.JDYuanXiao company , u.jianjie resume , u.yhtp portrait
		 from tb_project  p left join tb_user u 
		 on p.sponsor = u.id
		<include refid="basicCondition"></include>	
	</select>
	
	
	<select id="selectListCount" resultType="java.lang.Long" >
		select count(*) 
		from tb_project 
		<include refid="basicCondition"></include>	
	</select>
</mapper>
