<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huayu.dao.mapper.ResourcesMapper">
	<select id="selectResources" resultMap="BaseResultMap" parameterType="java.lang.Long">
	    select 
	    <include refid="Base_Column_List" />
	    from tb_resources
	    <where>
	    	<if test="queryCondition != null">
	    			(resName like CONCAT('%','${queryCondition}','%' ) 
	    		or  resDescribe  like CONCAT('%','${queryCondition}','%' ) 
	    		or  resLabel like CONCAT('%','${queryCondition}','%' ) )
	    	</if>
	    	
	    	<if test="uploaderid != null">
	    		and uploaderId = #{uploaderid}
	    	</if>
	    	
	    	<if test="resStatus != null" >
	    		and resStatus = #{resStatus}
	    	</if>
	    	
	    	<if test="resType != null">
	    		and resType = #{resType}
	    	</if>
	    	
	    	<if test="isDownLoad != null">
	    		and downloadTimes > 0
	    	</if>
	    	
	    	<if test="includeTypes != null">
	    		and resType in 
	    		<foreach collection="includeTypes" open="(" close=")" item="elem" separator=",">
	    			#{elem}
	    		</foreach> 
	    	</if>
	    	<if test="expectIds !=  null">
	    		and id not in ( #{expectIds})
	    	</if>
	    </where>
	    <if test="orderBy != null">
	    	order by #{orderBy}
	    </if>
	    <if test="beginNum != null and offset != null">
		    limit #{beginNum} , #{offset}
	    </if>
	</select>
	
	<select id="selectResourcesCount" resultType="java.lang.Long" >
	    select 
	  		count(id) 
	    from tb_resources
	    <where>
	    	<if test="queryCondition != null">
	    		(resName like CONCAT('%','${queryCondition}','%' ) 
	    		or  resDescribe  like CONCAT('%','${queryCondition}','%' ) 
	    		or  resLabel like CONCAT('%','${queryCondition}','%' ) )
	    	</if>
	    	
	    	<if test="uploaderid != null">
	    		and uploaderId = #{uploaderid}
	    	</if>
	    	
	    	<if test="resStatus != null" >
	    		and resStatus = #{resStatus}
	    	</if>
	    	
	    	<if test="resType != null">
	    		and resType = #{resType}
	    	</if>
	    	
	    	<if test="includeTypes != null">
	    		and resType in 
	    		<foreach collection="includeTypes" open="(" close=")" item="elem" separator=",">
	    			#{elem}
	    		</foreach> 
	    	</if>
	    	
	    	<if test="isDownLoad != null">
	    		and downloadTimes > 0
	    	</if>
	    </where>
	</select>
	
	
	<resultMap id="DownloadResultMap" type="com.huayu.bo.Resources">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="resName" property="resname" jdbcType="VARCHAR" />
		<result column="resDescribe" property="resdescribe" jdbcType="VARCHAR" />
		<result column="resLabel" property="reslabel" jdbcType="VARCHAR" />
		<result column="resPath" property="respath" jdbcType="VARCHAR" />
		<result column="pdfPath" property="pdfpath" jdbcType="VARCHAR" />
		<result column="swfPath" property="swfpath" jdbcType="VARCHAR" />
		<result column="resFormat" property="resformat" jdbcType="VARCHAR" />
		<result column="resSrc" property="ressrc" jdbcType="VARCHAR" />
		<result column="resType" property="restype" jdbcType="TINYINT" />
		<result column="dicType" property="dictype" jdbcType="TINYINT" />
		<result column="uploaderId" property="uploaderid" jdbcType="BIGINT" />
		<result column="uploader" property="uploader" jdbcType="VARCHAR" />
		<result column="uploadDate" property="uploaddate"  />
		<result column="modifier" property="modifier" jdbcType="VARCHAR" />
		<result column="modifyDate" property="modifydate"  />
		<result column="clickTimes" property="clicktimes" jdbcType="INTEGER" />
		<result column="downloadTimes" property="downloadtimes" jdbcType="INTEGER" />
		<result column="resStar" property="resstar" jdbcType="TINYINT" />
		<result column="resStatus" property="resstatus" jdbcType="TINYINT" />
		<result column="pState" property="pstate" jdbcType="INTEGER" />
		<result column="downloaderId" property="downloaderid" jdbcType="BIGINT" />
		<result column="downloader" property="downloader" jdbcType="VARCHAR" />
		<result column="downloadDate" property="downloaddate"  />
		<result column="collection_id" property="collectionId" jdbcType="BIGINT" />
		<result column="collectionDate" property="collectiondate"  />
	</resultMap>
	
	<select id="selectWhoDownload" resultMap="DownloadResultMap" parameterType="java.lang.Long">
	    select 
	    		rs.id id, resName, resDescribe, resLabel, resPath, pdfPath, swfPath, resFormat, resSrc, resType, dicType, uploaderId, 
	    		uploader, uploadDate, modifier, modifyDate, clickTimes, downloadTimes, resStar, resStatus, pState,downloaderId , downloader , downloadDate
	    from tb_resources  rs left join 
	    	 tb_recorder rc on rs.id = rc.resid
	    <where>
	    	<if test="downloaderId != null">
	    		and rc.downloaderId = #{downloaderId}
	    	</if>
	    	
	    	<if test="resStatus != null" >
	    		and resStatus = #{resStatus}
	    	</if>
	    </where>
	    <if test="beginNum != null and offset != null">
		    limit #{beginNum} , #{offset}
	    </if>
	</select>
	
	<select id="selectWhoCollect" resultMap="DownloadResultMap" parameterType="java.lang.Long">
	    select 
	    		rs.id id, resName, resDescribe, resLabel, resPath, pdfPath, swfPath, resFormat, resSrc, resType, dicType, uploaderId, 
	    		uploader, uploadDate, modifier, modifyDate, clickTimes, downloadTimes, resStar, resStatus, pState,collection_id , collectionDate 
	    from tb_resources  rs left join 
	    	 tb_collection rc on rs.id = rc.resid
	    <where>
	    	<if test="collectionId != null">
	    		and rc.collection_id = #{collectionId}
	    	</if>
	    	
	    	<if test="resStatus != null" >
	    		and resStatus = #{resStatus}
	    	</if>
	    </where>
	    <if test="beginNum != null and offset != null">
		    limit #{beginNum} , #{offset}
	    </if>
	</select>
	
</mapper>